﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1></h1>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
         if ('@TempData["DocId"]' != null &&  '@TempData["EnvId"]'!= "") {
            $("h1").html('@TempData["Result"]' + ". Wait while downloading document...");
             window.location = 'https://localhost:44339/Account/DownloadSignedDocument?documentId=' + '@TempData["DocId"]' + '&envelopeId=' + '@TempData["EnvId"]';
             @TempData.Remove("DocId");
             @TempData.Remove("EnvId");
         }
    });
</script>